
.bio {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text horizontally */
}
.bioTitle {
    margin: 0;
    line-height: 1;
    font-size: 2rem;
}


@media (max-width: 768px) {
  .bio {
    padding-top: 2em;
  }
}
